body {
  margin: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  color: #612406;
  font-size: 2.5em;
  font-weight: bold;
  padding: 1em 0;
}

/* Card */
.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  border-radius: 6em;
  height: 400px;
  background-color: #fbf7e3;
  color: #612406;
  margin-bottom: 1em;
}

.card h3 {
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 0.7em;
}

.card p {
  font-size: 1.2em;
  padding: 0.3em;
}

.card img {
  width: 100%;
  border-radius: 6em 6em 0 0;
}

.card-content > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
}

.card-content p {
  padding: 0.6em 0.1em;
}

.card-content button {
  width: 50%;
  background-color: gray;
  color: white;
  padding: 1.15em 0;
  border: none;
  margin: 0 auto;
  background-color: #f3df85;
  border-radius: 2em;
  color: #612406;
  font-size: 1em;
}

.card span {
  font-size: 1.3em;
}

/*fine card*/

/* inizio navbar*/

nav {
  background-color: #fbf7e3;
  border-radius: 4em;
  padding: 1.6em;
  display: flex;
  justify-content: center;
}

nav > div {
  display: flex;
  flex-direction: column;
}

nav .nav__item--small {
  background-color: #f3df85;
  border-radius: 1.5em;
  padding: 0.5em;
  font-size: 1.2em;
  flex-direction: column;
  text-align: center;
  margin: 0.3em;
  color: #612406;
}

nav .nav__item--big {
  display: flex;
  background-color: #f3df85;
  border-radius: 1.5em;
  padding: 1.5em;
  font-size: 1.2em;
  justify-content: center;
  color: #612406;
  order: -1;
}

.nav__item--big .nav__cta {
  font-weight: bold;
  font-size: 20pt;
}

nav img {
  width: 25px;
}
/*fine navbar*/

/*inizio card 2 */

.card-2 {
  display: flex;
  width: 950px;
  background-color: #fbf7e3;
  padding: 1.2em;
  border-radius: 2em;
}

.card-2 img {
  width: 100%;
}

.card-2 h3 {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.7em 0.2em;
  flex-direction: column;
  color: #612406;
}

.card-2 p {
  font-size: 1.2em;
  padding: 0 0.3em;
  flex-grow: 1;
  color: #612406;
}

/*fine card 2 */

@media screen and (min-width: 576px) {
  .cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .card {
    width: 300px;
    border-radius: 6em;
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: #fbf7e3;
    color: #612406;
    margin: 1em;
  }

  #last-card {
    display: none;
  }

  nav {
    background-color: #fbf7e3;
    border-radius: 4em;
    padding: 1.6em;
    display: flex;
    justify-content: center;
  }

  nav > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  nav .nav__item--small {
    background-color: #f3df85;
    border-radius: 1.5em;
    padding: 0.5em;
    font-size: 1.2em;
    text-align: center;
    margin: 0.3em;
    color: #612406;
  }

  nav .nav__item--big {
    background-color: #f3df85;
    border-radius: 1.5em;
    padding: 1.5em;
    font-size: 1.2em;
    justify-content: center;
    color: #612406;
    order: 0;
  }

  .nav__item--big .nav__cta {
    font-weight: bold;
    font-size: 20pt;
  }
}
